<div class="col-md-6 offset-md-3">
    <h3> Add Review </h3>
    <form (ngSubmit)="onSubmit()">
    
      <div class="form-group">
        <label> Reviewer Name</label>
        <input type="text" class="form-control" id="reviewerName"
          [(ngModel)]="review.reviewerName" name="reviewerName">
      </div>
    
      <div class="form-group">
        <label> Rating</label>
        <input type="number" class="form-control" id="rating"
          [(ngModel)]="review.rating" name="rating">
      </div>
    
      <div class="form-group">
        <label> Comment</label>
        <textarea class="form-control" id="comment" rows="3"
          [(ngModel)]="review.comment" name="comment"></textarea>
      </div>
    
      <button class="btn btn-success" type="submit">Submit</button>
    
    </form>
  </div>